@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
    /* COLOURS */
    --main-primary-color: #3F4E4F;
    --main-secondary-color: #2C3639;
    --main-tertiary-color: #4F403F;

    /* SIZING */
    --xs-size: 5px;
    --s-size: 10px;
    --m-size: 20px;
    --l-size: 30px;
    --xl-size: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: var(--main-primary-color);
}

button {
    cursor: pointer;
}

.header {
    background-color: var(--main-secondary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--xl-size) 0px;
    box-shadow: 0px 2px 2px black;
}

/* PLUS ICON */
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--l-size);
}

#plus-icon {
    width: var(--xl-size);
}
#plus-btn {
    border: none;
    background-color: transparent;
}
#plus-icon:hover {
    width: 70px;
}

/* MODAL */
.modal-overlay {
    visibility: none;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
    background-color: white;
    width: 300px;
    height: 500px;
    padding: var(--xl-size);
    border: solid var(--main-tertiary-color) 5px;
    border-radius: 10px;
}
.modal-container h3 {
    font-size: 1.3rem;
}

/* FORM IN MODAL */
.close-btn {
    border: none;
    background-color: transparent;
    float: right;
}
.close-btn img {
    width: var(--m-size);
}
label {
    display: block;
    padding-top: var(--l-size);
    padding-bottom: var(--xs-size);
    font-size: 1rem;
}

.add-book-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--l-size);
    padding: var(--s-size);
    font-size: 1rem;
    border: solid var(--main-tertiary-color) 2px;
    background-color: transparent;
}
.add-book-btn:hover {
    background-color: var(--main-tertiary-color);
    color: white;
}