@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
    /* COLOURS */
    --main-primary-color: #3F4E4F;
    --main-secondary-color: #2C3639;

    /* SIZING */
    --xs-size: 5px;
    --s-size: 10px;
    --m-size: 20px;
    --l-size: 30px;
    --xl-size: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background-color: var(--main-primary-color);
}

button {
    cursor: pointer;
}

.header {
    background-color: var(--main-secondary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--xl-size) 0px;
    box-shadow: 0px 2px 2px black;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--l-size);
}

#plus-icon {
    width: var(--xl-size);
}
#plus-btn {
    border: none;
    background-color: transparent;
}
#plus-icon:hover {
    width: 70px;
}